*{
	margin: 0;
	padding: 0;
}
/*set font-famify*/
@font-face {
  font-family: "Lato-Regular";
  src: url("../Lato/Lato-Regular.ttf");
}

.group_foot {
    padding-left: 28px;
}

.group_button {
    border-bottom: 1px #130d0d solid;
    padding-bottom: 10px;
}

span.sign_up {
    color: #0037ff;
    cursor: pointer;
}


.remember {
    padding-top: 20px;
}

button.btn.btn-info {
    margin-left: 1px;
}

.user input.input_username,.password input.input_password {
    width: 328px;
    margin-left: -10px;
    height: 38px;
    /* margin: 4px; */
}

.user label,.password label {
    background: #b0cee2;
    padding: 7px 12px;
    margin: 5px;
}

.group_title small {
    margin-left: 322px;
    color: #425092;
    cursor: pointer;
    margin-top: -14px;
    display: block;
    padding-bottom: 8px;

}

html, body {
	height: 100%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sign_in {

	/*margin: auto;*/
	/*padding: 5px 5px;*/
	border-style: ridge;
	width: 450px;
	height: 327px;
	border-radius: 7px;
	/* margin: 101px; */
	/*transform: translateY(100px);*/
}
.flex-container .sign_in {
	display: flex;
	justify-content: center;
	align-items: center;
}

.line {
	color: red;
}
.group_title {
	background-color: #bed4e6;
}
.group_title h4 {
    color: #2c549c;
    margin-left: 10px;
    padding-top: 8px;
}

.group_body {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.group_foot {
	
}